.post-summaries {

    .post-summaries__item {
        padding: 1.5rem 0 1rem;
        border-bottom: 1px solid var(--post-summaries-border-color);

        h2 {
            margin: 0;
            font-size: 1.25rem;
        }

        p {
            margin: 0.6rem 0;
            color: var(--post-summaries-text-color);
        }

        .post-metadata {
            display: inline-flex;
            width: 100%;

            >span {
                * {
                    vertical-align: middle;

                    color: var(--post-summaries-meta-color);
                    font-size: 0.85rem;
                    word-spacing: 1px;
                }

                i {
                    height: 0.75rem;
                    width: 0.75rem;
                    margin-left: 0.75rem;
                    margin-right: 0.25rem;
                    background-color: var(--post-summaries-meta-color);

                    &:first-child {
                        margin-left: 0;
                    }
                }

                a:hover {
                    text-decoration: underline;
                }

                .dash {
                    margin: 0 0.125rem;
                }

                .tag {
                    @media (max-width: $break-small) {
                        display: none;
                    }
                }
            }
        }
    }
}