---
title: Categories
permalink: /categories

categories:
  problem_solving:
    - algorithm
    - editorial
  deep_learning:
    - lecture
  etc:
    - setting
---

<div id="categories">
  <ul>
    {% for category_group in page.categories %}
      {% assign category = category_group.first %}
      {% assign num_post = site.posts | where_exp: 'post', 'post.categories.first == category' | size %}
      <li>
        <i class="triangle-down"></i>
        <a href="/categories/{{ category }}">{% include utils/capitalize.html string=category %}</a>
        <span>{{ category_group.last.size }} {% if category_group.last.size == 1 %}category{% else %}categories{% endif %}, {{ num_post }} {% if num_post == 1 %}post{% else %}posts{% endif %}</span>
        
        {% for subcategory in category_group.last %}
          {% assign num_post = site.posts | where_exp: 'post', 'post.categories.last == subcategory' | size %}
        <li class="subcategory">
          <i class="file-directory"></i>
          <a href="/categories/{{ subcategory }}">{% include utils/capitalize.html string=subcategory %}</a>
          <span>{{ num_post }} {% if num_post == 1 %}post{% else %}posts{% endif %}</span>
        </li>
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
</div>