.post-tags {
  display: inline-block;
  margin: 5rem 0 2rem;

  font-size: 0.85rem;
  word-spacing: 1px;

  >span {
    display: inline;
    width: 100%;

    * {
      vertical-align: middle;
    }

    i {
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
      background-color: var(--post-tag-color);
    }

    a {
      padding: 0.1rem 0.4rem;

      color: #6c757d;
      background: var(--post-tag-bg);
      border-radius: 0.3rem;
    }
  }
}

.post-comment {
  margin-bottom: 3rem;

  .utterances {
    max-width: 100%;
  }
}