.post>.post-content {
    blockquote {
        &[class^="prompt-"] {
            display: block;
            width: 100%;
            padding: 0.75rem 1.2rem;

            color: var(--prompt-text-color);

            border-left: 0;
            border-radius: 6px;

            @media all and (max-width: 576px) {
                width: 114%;
                margin-left: -7%;
                margin-right: -7%;
                border-radius: 0;
            }

            &::before {
                content: "";
                width: 1rem;
                height: 1rem;
                margin-right: 0.5rem;
                vertical-align: middle;
            }

            p {
                display: inline;
                &:last-child {
                    margin-bottom: 0rem;
                }
            }
        }

        &.prompt-tip {
            background-color: var(--prompt-tip-bg);

            &::before {
                @extend i, .check-circle-fill;
                background-color: var(--prompt-tip-icon-color);
            }
        }

        &.prompt-info {
            background-color: var(--prompt-info-bg);

            &::before {
                @extend i, .check-circle-fill;
                background-color: var(--prompt-info-icon-color);
            }
        }

        &.prompt-warning {
            background-color: var(--prompt-warning-bg);

            &::before {
                @extend i, .alert-fill;
                background-color: var(--prompt-warning-icon-color);
            }
        }

        &.prompt-danger {
            background-color: var(--prompt-danger-bg);

            &::before {
                @extend i, .x-circle-fill;
                background-color: var(--prompt-danger-icon-color);
            }
        }
    }
}