---
layout: default
---

<div class="post-summaries">
    {%- for post in paginator.posts -%}
        <div class="post-summaries__item">
            
            <a href="{{ post.url }}" >
                <h1 class="ellipsis-two">
                    {{ post.title }}
                </h1>

                <p class="post-content ellipsis-two">
                    {{ post.content | markdownify | strip_html | truncate: 200 }}
                </p>
            </a>

            <div class="post-metadata">
                <span class="ellipsis">
                    <i class="calendar"></i><span>{{ post.date | date: "%b %e, %Y" }}</span>

                    {%- if post.categories.size > 0 -%}
                        <i class="file-directory"></i><a href="/categories/{{ post.categories.first }}">{% include utils/capitalize.html string=post.categories.first %}</a>
                        {%- if post.categories.size > 1 -%}
                            <span>{{" / "}}</span><a href="/categories/{{ post.categories.last }}">{% include utils/capitalize.html string=post.categories.last %}</a>
                        {%- endif -%}
                    {%- endif -%}
                </span>
            </div>

        </div>
    {%- endfor -%}
</div>

<div class="paginate">
    {% assign s = paginator.page | minus: 1 | divided_by: 8 | plus: 1 %}
    {% assign e = paginator.page | minus: 1 | divided_by: 8 | plus: 8 | at_most: paginator.total_pages %}

    {% if s > 1 %}
    <a href="/{{ s | minus: 1 }}" class="hover-opacity"><i class="arrow-left"></i></a>
    {% endif %}

    {% for page_num in (s..e) %}
        {% if page_num == paginator.page %}
            <span class="active">{{ page_num }}</span>
        {% else %}
            <a href="/{% if page_num > 1 %}{{ page_num }}{% endif %}" class="hover-opacity">{{ page_num }}</a>
        {% endif %}
    {% endfor %}

    {% if e < paginator.total_pages %}
    <a href="/{{ e | plus: 1 }}" class="hover-opacity"><i class="arrow-right"></i></a>
    {% endif %}
</div>