---
layout: default
---

<div class="post-summaries">

    {%- for post in paginator.posts -%}
        
        <div class="post-summaries__item">
            
            <h2 id="post-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <div class="post-content">
                <p>
                    {{ post.content | markdownify | strip_html | truncate: 200 }}
                </p>
            </div>

            <div class="post-metadata">
                <span>
                    <i class="calendar"></i><span>{{ post.date | date: "%b %e, %Y" }}</span>

                    {%- if post.categories -%}
                        <i class="file-directory"></i><a href="/categories/{{ post.categories.first }}">{% include utils/capitalize.html string=post.categories.first %}</a>
                        {%- if post.categories.size > 1 -%}
                            <em>/</em><a href="/categories/{{ post.categories.last }}">{% include utils/capitalize.html string=post.categories.last %}</a>
                        {%- endif -%}
                    {%- endif -%}
                        
                    {%- if post.tags -%}
                        <i class="tag"></i>
                        {%- for tag in post.tags -%}
                            <a href="/tags/{{ tag }}" class="tag">{{ tag | downcase }}</a>
                            {%- unless forloop.last -%}
                                <span class="tag">, </span>
                            {%- endunless -%}
                        {%- endfor -%}
                    {%- endif -%}
                </span>
            </div>

        </div>

    {%- endfor -%}

</div>

<div class="paginate">
    {% assign s = paginator.page | minus: 1 | divided_by: 8 | plus: 1 %}
    {% assign e = paginator.page | minus: 1 | divided_by: 8 | plus: 8 | at_most: paginator.total_pages %}
    {% if s > 1 %}
    <a href="/{{ s | minus: 1 }}"><i class="arrow-left"></i></a>
    {% endif %}
    {% for page_num in (s..e) %}
        {% if page_num == paginator.page %}
            <span class="active">{{ page_num }}</span>
        {% else %}
            <a href="/{% if page_num > 1 %}{{ page_num }}{% endif %}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}
    {% if e < paginator.total_pages %}
    <a href="/{{ e | plus: 1 }}"><i class="arrow-right"></i></a>
    {% endif %}
</div>