---
layout: default
---

<div class="post-summaries">
    {%- for post in paginator.posts -%}
        {% assign img_attributes = post.content | split: "<img" | slice: 1 | first | split: '/>' | first %}
        <a href="{{ post.url }}">
            <div class="post-summaries__item">
                <div class="post-summaries-container">
                    {% if img_attributes %}
                    <div class="preview-img_wrapper flex-row">
                        <div>
                            <img class="preview-img" {{ img_attributes }} />
                        </div>
                    </div>
                    {% endif %}
                    <div class="post-summaries__body flex-column flex-1">
                        <h1 class="ellipsis-two">
                            {{ post.title }}
                        </h1>
                        <p class="ellipsis-two">
                            {{ post.content | markdownify | strip_html | truncate: 200 }}
                        </p>
                        <div class="post-metadata">
                            <span class="ellipsis">
                                <i class="calendar"></i><span>{{ post.date | date: "%b %e, %Y" }}</span>
                                {%- if post.categories.size > 0 -%}
                                    {%- assign category = site.category | where: 'slug', post.categories.first | first -%}
                                    <i class="file-directory"></i><span>{{ category.title }}</span>
                                    {%- if post.categories.size > 1 -%}
                                        {%- assign subcategory = site.category | where: 'slug', post.categories.last | first -%}
                                        <span> / {{ subcategory.title }}</span>
                                    {%- endif -%}
                                {%- endif -%}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {%- endfor -%}
</div>

<div class="paginate">
    {% assign s = paginator.page | minus: 1 | divided_by: 8 | plus: 1 %}
    {% assign e = paginator.page | minus: 1 | divided_by: 8 | plus: 8 | at_most: paginator.total_pages %}

    {% if s > 1 %}
    <a href="/{{ s | minus: 1 }}" class="hover-opacity"><i class="arrow-left"></i></a>
    {% endif %}

    {% for page_num in (s..e) %}
        {% if page_num == paginator.page %}
            <span class="active">{{ page_num }}</span>
        {% else %}
            <a href="/{% if page_num > 1 %}{{ page_num }}{% endif %}" class="hover-opacity">{{ page_num }}</a>
        {% endif %}
    {% endfor %}

    {% if e < paginator.total_pages %}
    <a href="/{{ e | plus: 1 }}" class="hover-opacity"><i class="arrow-right"></i></a>
    {% endif %}
</div>