$max_width: 800px;
$break-small: 670px;

%max_width {
  margin: 0 auto;
  max-width: $max_width;
  width: 80%;

  @media (max-width: $break-small) {
    width: 88%;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-two {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover-opacity {
  &:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
  }
}

.hover-underline {
  color: var(--common-link-color);

  &:hover {
    transition: all 0.3s ease-in-out;
    color: var(--common-link-hover-color);
    text-decoration: underline 1px;
    text-underline-offset: 3px;
  }
}

@mixin hover-scale($scale) {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale($scale);
  }
}