@import "style/rouge-highlighter";

html {
    @include light-syntax;
}

div.highlight {
  
    .highlight,
    .rouge-gutter,
    .rouge-code {
        padding: 0;
    }
  
    .highlight {
        pre,
        tr,
        td {
            font-size: 0.85rem;
            background-color: transparent;
            border: none;
        }
    
        .rouge-table {
            margin-bottom: 0;
        }
    
        .rouge-gutter {
            color: var(--text-muted-color);
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }
}