<footer>
    <div>
        <span class="link">
            <a href="http://github.com/{{ site.author.github }}" target="_blank" class="hover-opacity">
                <i class="mark-github"></i>
            </a>
            <a href="mailto:{{ site.author.email }}" class="hover-opacity">
                <i class="mail"></i>
            </a>
            <a href="{{ 'feed.xml' | absolute_url }}" target="_blank" class="hover-opacity">
                <i class="rss"></i>
            </a>
        </span>
        <span class="copyright">
            &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>. {{ site.author.name }}
        </span>
    </div>
</footer>