<div class="paginate">
    {% assign s = paginator.page | minus: 1 | divided_by: 8 | plus: 1 %}
    {% assign e = paginator.page | minus: 1 | divided_by: 8 | plus: 8 | at_most: paginator.total_pages %}
    {% if s > 1 %}
    <a href="/{{ s | minus: 1 }}" class="hover-opacity"><i class="arrow-left"></i></a>
    {% endif %}
    {% for page_num in (s..e) %}
        {% if page_num == paginator.page %}
            <span class="active">{{ page_num }}</span>
        {% else %}
            <a href="/{% if page_num > 1 %}{{ page_num }}{% endif %}" class="hover-opacity">{{ page_num }}</a>
        {% endif %}
    {% endfor %}
    {% if e < paginator.total_pages %}
    <a href="/{{ e | plus: 1 }}" class="hover-opacity"><i class="arrow-right"></i></a>
    {% endif %}
</div>