{% assign posts = include.posts | default: site.posts %}

<div id="post-list">

    {%- for post in posts -%}
        
        <div class="post-preview">
            
            <h1 id="post-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h1>

            <div class="post-content">
                <p>
                    {{ post.content | markdownify | strip_html | truncate: 200 }}
                </p>
            </div>

            <div class="post-metadata">
                <span>
                    <i id="icon-calendar"></i><span>{{ post.date | date: "%b %e, %Y" }}</span>

                    {%- if post.category -%}
                        {% assign category = post.category | first %}
                        {% assign subcategory = post.subcategory | first %}
                        <i id="icon-folder"></i><a href="/categories/{{ category }}">{% include camelcase.html string = category %}</a>
                        {%- if subcategory -%}
                            <em>/</em><a href="/categories/{{ subcategory }}">{% include camelcase.html string = subcategory %}</a>
                        {%- endif -%}
                    {%- endif -%}
                    
                    {%- if post.tags -%}
                            <i id="icon-tag" class="tag"></i>
                            {%- for tag in post.tags -%}
                                <a href="{{ "/tags/" | append: tag }}" class="tag">{{ tag | downcase }}</a>
                                {%- unless forloop.last -%}
                                    <span class="tag">, </span>
                                {%- endunless -%}
                            {%- endfor -%}
                    {%- endif -%}
                </span>
            </div>

        </div>

    {%- endfor -%}

</div>