<div class="Sidebar prevent-select flex-1 my-5 ml-5 pl-2">
    <div class="mb-5 pl-3">
        <div class="Sidebar--header color-fg-default">Recently Updated</div>
        <ul class="Sidebar--recent-posts mt-2 mb-3 pl-1 pt-1 pb-1">
            {%- for post in site.posts limit: 5 -%}
            <li class="mb-2 pb-1"><a class="color-fg-muted ellipsis-two" href="{{ post.url }}">{{ post.title }}</a></li>
            {%- endfor -%}
        </ul>
    </div>

    {% assign tags = "" | split: "" %}
    {% for it in site.tags %}
        {% assign tag = it.first | downcase %}
        {% assign size = site.posts | where_exp: 'post', 'post.tags contains tag' | size | times: -1 %}
        {% assign ele = "" | split: "" | push: size | push: tag %}
        {% assign tags = tags | push: ele %}
    {% endfor %}
    {% assign tags = tags | sort %}

    <div class="Sidebar--trending-tags mt-3 pl-3">
        <div class="Sidebar--header">Trending Tags</div>
        <div class="flex-wrap mt-3 mr-3">
            {% for it in tags limit: 10 %}
            <a class="Sidebar--tags Box mr-2 mb-2 px-2 py-1 color-fg-muted hover-background" href="/tag/{{ it[1] }}">{{ it[1] }}</a>
            {% endfor %}
        </div>
        <div class="flex-vertical-center">
            <a href="/tag" class="Sidebar--all-tags ml-auto color-fg-muted">
                {% include octicons/chevron-right.html %}
                <span>All tags</span>
            </a>
        </div>
    </div>
</div>