{% assign image = "/assets/image/header.jpg" %}
{% assign folder = page.path | split: '/' | last | remove: ".md" %}
{% assign header_path = "/assets/image/" | append: folder | append: "/header.png" %}
{% assign file = site.static_files | where: "path", header_path %}
{% if file and file[0].path %}
  {% assign image = header_path %}
{% endif %}
{% assign header_path = "/assets/image/" | append: folder | append: "/header.jpg" %}
{% assign file = site.static_files | where: "path", header_path %}
{% if file and file[0].path %}
  {% assign image = header_path %}
{% endif %}
{{ image }}
