<div class="topbar-wrapper w-100">
    <div class="topbar flex-vertical-center prevent-select">
        <button class="Button hover-background nav_three_bars">
            {% include octicons/three-bars.html %}
        </button>
        <span class="topbar-title px-2 ellipsis">gumgood blog</span>
        
        <a href="/search"><button class="Button hover-background" {% if page.url=='/search' %}style="visibility: hidden;" {% endif %}>
            {% include octicons/search.html %}
            
        </button></a>
    </div>
</div>