/* --- common style --- */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  @include light-scheme;
  font-size: 16px;
}
body {
  line-height: 1.75rem;
  //background: var(--body-bg);
  background: var(--main-wrapper-bg);
  margin: 0;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
}

/* --- Typography --- */

h1 {
  @extend %heading;
  @extend %section;

  font-size: 1.9rem;
}

h2 {
  @extend %heading;
  @extend %section;
  @extend %anchor;

  font-size: 1.5rem;
}

h3 {
  @extend %heading;
  @extend %section;
  @extend %anchor;

  font-size: 1.2rem;
}

h4 {
  @extend %heading;
  @extend %section;
  @extend %anchor;

  font-size: 1.15rem;
}

h5 {
  @extend %heading;
  @extend %section;
  @extend %anchor;

  font-size: 1.1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

ol,
ul {
  ol,
  ul {
    margin-bottom: 1rem;
  }
}

dt {
  font-weight: 700;
}

/* -- Legacy -- */

$max_width_wrap: 750px;
$break-small: 670px;

.width_wrapper {
    margin: 0 auto;
    max-width: $max_width_wrap;
    width: 80%;
      @media (max-width: $break-small) {
        width: 88%;
    }
}

.transition {
  transition: all 0.3s ease-in-out;
}