.catalogue {
    &-item {
        border-bottom: 1px solid rgba(0,0,0,.07);
        padding: 36px 0;
        list-style: none;

    &:last-child {
        border: none;
    }
  }

    &-type {
        color: $ridi-blue;
        font-size: 1.125rem;
        font-family: $source;
        font-weight: 600;
        margin-bottom: 10px;
    }
   
    &-info {
        display: inline-block;
        
        .catalogue-tag {
            font-family: $source;
            display: inline-block;
            margin-bottom: 2px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
            padding: 4px 7px;
            font-size: 0.79rem;
            font-weight: 800;
            margin-bottom: 10px;
            background-color: $yellow;
            border-radius: 8px;
            
            @media (max-width: $break-medium) {
                margin: 10px 0;
            }
            
        }
        
        h1.catalogue-title {
            color: $grey-0;
            display: block;
            font-family: $source;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: -0.009em;
            position: relative;

            @media (max-width: $break-small) {
                  font-size: 1.424rem;
            }
        }
        
        @media (max-width: $break-medium) {
            display: block;
            width: 100%;
        }
        
        p.catalogue-sub {
            font-size: 1.125rem;
            color: $grey-1;
            line-height: 1.75;
            padding-bottom: 24px;

            @media (max-width: $break-small) {
                font-size: 1rem;
            }        
        }

        p.catalogue-body {
            font-size: 1rem;
            color: $grey-1;
        }
        
    }
    
    .catalogue-draft-message {
        text-align: center;
    }
    
}

.catalogue-item:hover
.catalogue-info {     
    cursor: pointer;
    opacity: .6;
}

.catalogue-img {
    border-radius: 3px;
//    box-shadow: 6px 0 40px 8px rgba(0,0,0,.05);
}
