// functional

$max_width: 1250px;
$break-small: 850px;
$break-large: 1200px;
$nav-width: 15rem;

.prevent-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.max_width {
    max-width: $max_width;
    width: 100%;

    @media screen and (min-width: $break-small) {
        width: 88%;
    }

    @media screen and (min-width: $break-large) {
        width: 92%;
    }
}

.vertical-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.hidden-scroll {   

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-two {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover-opacity {
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

.hover-underline {
    color: var(--common-link-color);

    &:hover {
        color: var(--common-link-hover-color);
        text-decoration: underline 1px;
        text-underline-offset: 3px;
    }
}


.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.color-bg-default {
    background-color: var(--color-canvas-default);
}

.border {
    border: 1px solid var(--color-border-default);
}

.Box {
    background-color: var(--color-canvas-default);
    border-color: var(--color-border-default);
    border-radius: var(--borderRadius-large);
    border-style: solid;
    border-width: var(--borderWidth-thin);
}

.Button {
    display: grid;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    color: var(--color-fg-muted);
    border-color: var(--color-border-default);
    border-radius: var(--borderRadius-medium);
    border-style: solid;
    border-width: var(--borderWidth-thin);
    place-content: center;
    cursor: pointer;
}

.hover-background:hover {
    background-color: var(--color-button-default-hover-bg);
    cursor: pointer;
}

@mixin icon-size($size, $color) {
    height: $size;
    width: $size;
    fill: $color;
}

.color-fg-default {
    color: var(--color-fg-default);
}

.color-fg-muted {
    color: var(--color-fg-muted);
}

.color-accent-fg {
    color: var(--color-accent-fg);
}

/* --- Typography --- */

h1, h2, h3, h4, h5 {
    color: var(--heading-color);
    font-weight: 400;
    font-family: $font-family;
  
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
  
    &:focus {
        outline: none; /* avoid outline in Safari */
    }
}

h1 {
    font-size: 1.9rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
   font-size: 1.15rem;
}

h5 {
    font-size: 1.1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

html {
    @include light-scheme;
    font-size: 16px;
}

body {
    margin: 0;
    
    color: var(--color-fg-default);
    background: var(--body-bg);

    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5rem;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--color-accent-fg);
        text-decoration: underline;
    }

    &.link-muted:hover {
        text-decoration: none;
    }
}