$nav-width: 15rem;

html {
    @include light-scheme;
    font-size: 16px;
}

nav {
    position: fixed;
    left: 0px;
    height: 100%;
    width: $nav-width;
    background-color: var(--color-canvas-inset);
    box-shadow: var(--color-nav-shadow) -1px 0px 0px 0px inset;
}

main {
    min-height: 100vh;
    max-width: 1250px;

    margin-left: $nav-width;
}