#width_wrapper {
  margin: 0 auto;
  max-width: $max_width_wrap;
  width: 80%;
    @media (max-width: $break-small) {
        width: 88%;
    }
}

.container {
    margin: 40px 0;
      @media (max-width: $break-small) {
          margin: 24px 0;
    }
}

.nav {
    overflow: auto;
    padding: 24px 0;

  &-container {
      margin: 0 auto;
      padding-bottom: 10px;
      position: relative;
  }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-container {
  li {
      font-family: $source;
      display: inline-block;
      margin: 0 40px 0 0;
      
      &:last-child {
          margin-right: 0;
      }
      
      @media (max-width: $break-small) {
          margin: 0 24px 0 0;
          font-size: 16px;
      }
      
  }
  li:hover {
    opacity: 0.5;
  }
}
    
.active {
    padding-bottom: 6px;
    border-bottom: 2px solid $grey-0;
    font-weight: 700;
    color: $grey-0;
}

.normal {
    font-weight: 500;
    border-style: none;
    padding-bottom: 0;
}

// for footer

html {
    position: relative;
}
body {
    min-height: 100vh;
    padding-bottom: 101px;
    @media (max-width: $break-small) {
        padding-bottom: 132px;
    }
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    padding: 26px 0 36px 0;
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;

    font-family: $source;
    font-style: normal;
    background-color: $grey-3;
    color: $default-tint;
        
    .footer_wrap {
        position: relative;

        .information {
            display: inline-block;

            .accounts {
                margin-top: 10px;
                a {
                    margin-right: 24px;
                    svg {
                        fill: $default-tint;
                        width: 20px;
                    }
                }
                a:hover {
                    opacity: .6;
                }
            }
        }

        .copyright {
            float: right;
            position: absolute;
            right: 0;
            bottom: 2px;

            @media (max-width: $break-small) {
                float: none;
                position: static;
                margin-top: 6px;
            }

            span {
                font-size: 16px;
            }
        }
    }
}
