.categories {

    h1 {
        margin: 3rem 0 2rem;
        font-size: 2rem;
    }

    >ul {
        list-style-type: none;

        width: 100%;
        padding: 0;
        overflow: hidden;

        background-color: var(--categories-bg);
        background-clip: border-box;
        border: 1px solid var(--categories-border-color);
        border-radius: 0.25rem;
        box-shadow: 0 0 3px 0 var(--categories-shadow);

        li {
            display: block;
            height: 3.375rem;
            margin-bottom: -1px;
            padding: 0.75rem 1rem;

            color: var(--categories-list-meta-color);

            &:not(:first-child) {
                border-top: 1px solid var(--categories-border-color);
            }

            &.subcategory {
                background-color: var(--categories-sub-bg);
                padding-left: 3rem;
                transition: height 500ms ease, padding 500ms ease;
            }

            &[hidden] {
                height: 0;
                padding: 0 1.25rem;
            }

            * {
                vertical-align: middle;
            }

            a {
                font-size: 1.125rem;
                margin: 0 0.5rem;
            }

            i {
                @include icon-size(1.125rem, var(--categories-list-meta-color));
                cursor: pointer;
                transition: transform 300ms ease;

                &[rotate] {
                    transform: rotate(-90deg);
                }
            }

            span {
                font-size: 0.875rem;
            }

            @media (max-width: $break-small) {
                padding: 0.675rem 0.875rem;

                &.subcategory {
                    padding-left: 2.75rem;
                }

                &[hidden] {
                    padding-left: 1rem;
                }

                a {
                    font-size: 1rem;
                }

                i {
                    @include icon-size(1rem);

                    span {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}