.post-summaries { 

    .post-summaries__item {
        margin-bottom: 1.25rem;
        
        @media screen and (max-width: $break-small) {
            margin-bottom: 1.5rem;
        }

        box-shadow: var(--post-summaries-shadow);
        border-radius: 0.5rem;
        background-color: var(--post-summaries-bg);

        &:hover {
            background-color: var(--post-summaries-hover-bg);
        }

        transition: background-color .35s ease-in-out;

        user-select: none;

        h1 {
            margin: 0;
            color: var(--heading-color);
            font-size: 1.25rem;
            line-height: 1.5;
        }

        p {
            margin: 0.6rem 0;
            color: var(--text-muted-color);
        }

        .post-metadata {
            display: inline-flex;
            width: 100%;

            color: var(--text-muted-color);
            
            span {
                line-height: 1.75;
                font-size: 0.85rem;
                word-spacing: 1px;
            }

            i {
                @include icon-size(0.75rem, var(--text-muted-color));
                margin: 0.125rem 0.25rem 0.125rem 0.75rem;
                vertical-align: text-bottom;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .post-summaries__body {
        min-width: 70%;
        padding: 1.75rem 1.75rem 1.25rem 1.75rem;
        overflow: hidden;
    }

    .preview-img_wrapper {
        display: flex;
        position: relative;

        width: 20rem;
        flex-basis: 20rem;

        border-radius: 0 0.5rem 0.5rem 0;
        border-left: 1px solid var(--main-border-color);

        overflow: hidden;

        div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            img.preview-img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-color: rgba(0,0,0,0.01);
                filter: contrast(0.95);
            }
        }
    }
}

.paginate {
    margin: 2rem 0 2rem;
    text-align: center;
    font-size: 1rem;

    a,
    span {
        color: var(--paginate-btn-color);
        
        &:not(&:last-child) {
            margin-right: 1rem;
        }

        &.active {
            color: var(--paginate-btn-active-color);
            text-decoration: underline 2px var(--paginate-btn-active-color);
            text-underline-offset: 0.625rem;
        }
    }

    i {
        @include icon-size(1rem, var(--paginate-btn-color));
    }
}