.post-summaries { 

    .post-summaries__item {
        margin-bottom: 1.25rem;
        
        @media screen and (max-width: $break-small) {
            margin-bottom: 1.5rem;
        }

        //box-shadow: var(--post-summaries-shadow);
        border: 1px solid rgb(208, 215, 222);
        border-radius: 0.5rem;
        background-color: var(--post-summaries-bg);

        &:hover {
            box-shadow: rgba(104, 104, 104, 0.5) 0 2px 6px 0, rgba(211, 209, 209, 0.15) 0 0 0 1px;
        }

        transition: box-shadow .3s ease-in-out;

        user-select: none;

        h1 {
            margin: 0.5rem 0;
            color: var(--heading-color);
            font-size: 1.25rem;
            line-height: 1.5;
        }

        p {
            margin: 0 0 0.5rem;
            color: var(--text-muted-color);
        }

        .post-metadata {
            display: inline-flex;
            width: 100%;

            color: var(--text-muted-color);
            
            span {
                line-height: 1.75;
                font-size: 0.85rem;
                word-spacing: 1px;
                vertical-align: middle;
            }

            svg {
                @include icon-size(0.75rem, var(--text-muted-color));
                vertical-align: sub;

                &:not(:first-child) {
                    margin-left: 0.75rem;
                }
            }
        }
    }

    .post-summaries-container {
        display: flex;
        flex-direction: row-reverse;

        @media screen and (max-width: 640px) {
            flex-direction: column;
        }
    }

    .post-summaries__body {
        min-width: 70%;
        overflow: hidden;
        padding: 1.25rem 1.75rem;

        @media screen and (max-width: $break-small) {
            padding: 1rem;
        }
    }

    .preview-img_wrapper {
        position: relative;

        display: flex;
        flex-basis: 20rem;

        border-radius: 0 0.5rem 0.5rem 0;

        @media screen and (max-width: 640px) {
            max-height: 10rem;
            border-radius: 0.5rem 0.5rem 0 0;
        }

        overflow: hidden;

        div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            img.preview-img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-color: rgba(0,0,0,0.05);
                filter: contrast(0.9);
            }
        }
    }
}

.paginate {
    margin: 2rem 0 2rem;
    text-align: center;
    font-size: 1rem;

    a,
    span {
        color: var(--paginate-btn-color);
        
        &:not(&:last-child) {
            margin-right: 1rem;
        }

        &.active {
            color: var(--paginate-btn-active-color);
            text-decoration: underline 2px var(--paginate-btn-active-color);
            text-underline-offset: 0.625rem;
        }
    }

    svg {
        @include icon-size(1rem, var(--paginate-btn-color));
    }
}