div.search {
    margin: 1rem auto 0;

    #search-input-wrapper {
        display: flex;
        align-items: center;

        padding: 0.4rem 1rem;

        border: 1px solid #dee2e6;
        border-radius: 0.7em;
        box-shadow: 0 0 3px 0 #e9ecef;

        svg {
            @include icon-size(1.2rem, var(--search-icon-color));
            margin-right: 0.75rem;
        }

        input {
            flex: 1;
            width: auto;

            line-height: 1.5;
            font-size: 1.2rem;

            border: none;

            &:focus {
                outline: none;
            }

            @media (max-width: $break-small) {
                width: 100%;
            }
        }
    }

    .post-summaries {
        margin: 2rem 0 3rem;
        padding: 0;

        .post-summaries__item {
            text-align: left;
        }

        .post-summaries__msg {
            padding: 4rem 0 1rem;
            font-size: 1.125rem;
            text-align: center;

            @media (max-width: $break-small) {
                font-size: 1rem;
            }
        }
    }
}