#search-results {
    h1 {
        margin: 1rem 0 2rem;
        font-size: 1rem;
        font-weight: normal;
    }

    em {
        font-style: normal;
        color: var(--color-accent-fg);
    }
}
