#tag {
    #tag-container {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: $break-small) {
            justify-content: center;
        }
    }

    .tag-item-link {
        margin: 0 0.75rem 0.5rem 0;
        padding: 6px 8px 7px;
        border: 1px solid var(--color-border-default);
        border-radius: 0.7em;
        box-shadow: 0 0 3px 0 var(--tags-shadow);
        text-decoration: none;
        @include prevent-select;

        @media screen and (max-width: $break-small) {
            margin: 0 0.5rem 0.75rem 0;
            justify-content: center;
        }

        &:hover {
            background-color: var(--color-button-default-hover-bg);
            cursor: pointer;
        }
    }

    .tag-item {
        font-size: 1.125rem;
        color: var(--color-fg-muted);

        &:hover {
            color: var(--color-accent-fg);
        }
    }

    .counter {
        margin-left: 0.5rem;
        color: var(--color-fg-default);
    }
}
