/*
 * The syntax light mode typography colors
 */

@mixin light-scheme {
    /* Legacy */
    --text-color: #34343c;
    --heading-color: black;
    --blockquote-border-color: #eee;
    --blockquote-text-color: #9a9a9a;

    /* Framework color */
    --body-bg: white;

    /* Common */
    --common-border-color: #f3f3f3;
    --common-btn-bg: #fff;
    --common-btn-color: #57606a;
    --common-btn-active-color: #424242;
    --common-btn-border-color: #e9ecef;
    --common-meta-color: #6c757d;
    --common-link-color: #2a408e;
    --common-link-hover-color: #d2603a;
    --common-text-color: #34343c; 

    /* Navigation */
    --nav-btn-hover-color: #bdc5cd;
    --nav-btn-color: var(--common-btn-color);
    --nav-btn-active-color: var(--common-btn-active-color);
  
    /* Footer */
    --footer-bg: #f6f9fc;
    --footer-border-color: #D8E0E7;
    --footer-color: #757575;

    /* Post_summaries */
    --post-summaries-border-color: var(--common-border-color);
    --post-summaries-text-color: dimgray; 
    --post-summaries-meta-color: var(--common-meta-color);
    --paginate-btn-color: var(--common-btn-color);
    --paginate-btn-active-color: var(--common-btn-active-color);

    /* Post_list */
    --post-list-title-color:  black;
    --post-list-meta-color:  var(--common-meta-color);
    --post-list-dot-color: #999999;
    --post-list-dash-color: silver;

    /* Categories */
    --categories-bg: rgba(0, 0, 0, .03);
    --categories-sub-bg: var(--common-btn-bg);
    --categories-border-color: #DFDFDF;
    --categories-list-meta-color:  var(--common-meta-color);
    --categories-shadow: var(--common-btn-border-color);

    /* tags */
    --tags-border: #dee2e6;
    --tags-shadow: #e9ecef;
    --tags-meta-color: var(--common-meta-color);

    /* Post */
    --post-title-color:  black;
    --post-meta-color: var(--common-text-color);
    --post-link-color: var(--common-link-color);
    --post-link-hover-color: var(--common-link-hover-color);
    --post-link-underline-color: #dee2e6;
    --post-tag-color: var(--common-meta-color);
    
    /* Posts - prompt */
    --prompt-text-color: rgb(46 46 46 / 77%);
    --prompt-tip-bg: rgb(123 247 144 / 20%);
    --prompt-tip-icon-color: #03b303;
    --prompt-info-bg: #e1f5fe;
    --prompt-info-icon-color: #0070cb;
    --prompt-warning-bg: rgb(255 243 205);
    --prompt-warning-icon-color: #ef9c03;
    --prompt-danger-bg: rgb(248 215 218 / 56%);
    --prompt-danger-icon-color: #df3c30;

    /* Posts - tag */
    --post-tag-bg: rgba(0, 0, 0, 0.075);
    --post-tb-even-bg: var(--body-bg);
    --post-tb-odd-bg: #fbfcfd;
    --post-tb-border-color: #eaeaea;

    /* --- code highlight: custom light colors --- */
    --highlight-bg-color: #f7f7f7;
    --highlighter-rouge-color: #2f2f2f;
    --highlight-lineno-color: #c2c6cc;
    --inline-code-bg: #f3f3f3;
    --code-header-text-color: #a3a3b1;
    --code-header-muted-color: #ebebeb;
    --code-header-icon-color: #d1d1d1;
    --clipboard-checked-color: #43c743;

    [class^=prompt-] {
        --inline-code-bg: #fbfafa;
        --highlighter-rouge-color: rgb(82 82 82);
    }
}

$font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;