@mixin light-scheme {
    font-size: 16px;

    --nav-width: 15rem;
    --main-max-width: 80rem;

    --color-border-default: rgb(208, 215, 222);
    --color-canvas-inset: rgb(246, 248, 250);
    --color-nav-shadow: var(--color-border-default);
}