@mixin light-scheme {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-font-smoothing: antialiased;

    --footer-height: 4rem;
    --footer-font-size: 0.8rem;
    --nav-width: 15rem;
    --main-max-width: 80rem;

    --borderRadius-small: 0.1875rem;
    --borderRadius-medium: 0.375rem;
    --borderRadius-large: 0.75rem;
    --borderRadius-full: 600rem;
    --borderWidth-thin: 0.0625rem;
    --fgColor-default: #1f2328;

    --color-accent-fg: rgb(9, 105, 218);
    --color-border-default: rgb(208, 215, 222);
    --color-canvas-default: rgb(255, 255, 255);
    --color-canvas-inset: rgb(246, 248, 250);
    --color-fg-default: rgb(31, 35, 40);
    --color-fg-muted: rgb(101, 109, 118);
    --color-nav-shadow: var(--color-border-default);

    --color-button-default-hover-bg: rgba(208, 215, 222, 0.32);
    --color-counter-border: rgba(0, 0, 0, 0);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --control-transparent-bgColor-hover: #d0d7de33;
    --post-list-dash-color: silver;
}
