footer {
    height: 5rem;
    justify-content: center;
    
    border-top: 1px solid var(--color-border-default);
    color: var(--color-fg-muted);
    font-size: 0.8rem;
}

.footer-name {
    color: var(--color-fg-default);
}

.footer-rss-link {
    display: inline-flex;
    align-items: center;
    
    color: var(--color-fg-muted);

    svg {
        height: 0.7rem;
        width: 0.7rem;
        vertical-align: middle;
    }
}