footer {
    height: 5rem;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 1rem;

    font-size: 0.8rem;
    color: var(--text-muted-color);
    background-color: var(--main-bg);
    
    border-top: 1px solid var(--main-border-color);
    
    span {
        color: var(--text-color);
    }
}