#main-wrapper {
    position: relative;
    min-height: 100vh;

    margin-left: 260px;
    
    @media screen and (max-width: $break-small) {
        margin-left: 0px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-bg);
}

main {
    @extend %max_width;
    
    flex : 1 0 auto;

    padding: 0;
}