nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    position: fixed;
    left: 0px;
    z-index: 10;
    transition: left 0.25s ease-in-out;
  
    @media screen and (max-width: $break-small) {
        left: -$nav-width;
    }
  
    height: 100%;
    width: $nav-width;
    background-color: var(--sidebar-bg);
  
    overflow-x: hidden;
    overflow-y: auto;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    #nav-topbar {
        display: none;
        height: fit-content;
        margin: -2.5rem 0 0 auto;
      
        @media screen and (max-width: $break-small) {
            display: block;
        }
      
        i {
            @include icon-size(1.5rem, #999);
        }
    }
  
    #profile-wrapper {
        width: 100%;
        margin: 3rem 0 2.5rem 0;
        padding: 0 1.25rem 0 2.5rem;
    }
    
    #avatar-wrapper {
        display: flex;
    }

    #avatar {
        display: block;
        height: 7rem;
        width: 7rem;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: var(--avatar-border-color) 0 0 0 2px;
    
        img {
            height: auto;
            max-width: 100%;
            @include hover-scale(1.2);
        }
    }
  
    .site-title {
        margin: 1.25rem 0 0.5rem 0;
        font-weight: 900;
        font-size: 1.25rem;
        line-height: 1.2;
    
        a {
            color: rgba(117, 117, 117, .9);
      
            &:hover {
                color: var(--sidebar-active-color);
            }
        }
    }
  
    .site-subtitle {
        margin-top: .25rem;
        color: var(--sidebar-muted-color);
        font-size: 0.75rem;
    }
  
  
    ul.nav {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-direction: column;

        list-style-type: none;

        width: 100%;
        margin: 0 0 2rem;
        padding-left: 0;
    
        li.nav-item {
            width: 100%;
            padding: 0 1.5rem;
            opacity: 0.9;
      
            &:not(:first-child) {
              margin-top: 0.25rem;
            }
      
            a {
                transition: background-color .3s ease-in-out;

                &:hover {
                    background-color: var(--sidebar-hover-bg);
                }

                &.nav-link {
                    display: flex;
                    align-items: center;
            
                    padding: .6rem 1rem;
                    border-radius: .75rem;
                    color: rgba(117, 117, 117, .9);
                    font-weight: 600;
            
                    i {
                        @include icon-size(1.25rem, rgba(117, 117, 117, .9));
                        margin-right: 1.5rem;
                    }
            
                    span {
                        font-size: 0.85rem;
                        line-height: 1.5;
                        letter-spacing: .2px;
                    }
                }

                &.active {
                    color: var(--sidebar-active-color);
                    background-color: var(--sidebar-hover-bg);
            
                    i {
                        background-color: var(--sidebar-active-color);
                    }
                }
            }
        }
    }
  
    .sidebar-bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
        padding: 0 2rem;
        margin-bottom: 1.5rem;
    
        a {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 1.75rem;
            width: 1.75rem;
            margin-bottom: 0.5rem;
      
            &:not(:last-child) {
                margin-right: 0.8rem;
            }
      
            border-radius: 50%;
            color: var(--sidebar-btn-color);
            background-color: var(--sidebar-btn-bg);

            &:hover {
                background-color: var(--sidebar-hover-bg);
            }
      
            text-align: center;
            line-height: 1.75rem;
      
            i {
                @include icon-size(1rem, var(--sidebar-btn-color));
            }
        }
    }
}

#dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.6);
}