nav {
    position: fixed;
    z-index: 10;
    left: 0px;
    width: $nav-width;
    transition: left 0.25s ease-in-out;
  
    @media screen and (max-width: $break-small) {
        left: -$nav-width;
    }
    
    background-color: var(--color-canvas-inset);
    box-shadow: var(--color-nav-shadow) -1px 0px 0px 0px inset;
  
    .close-button-wrapper {
        height: 3rem;
        min-height: 3rem;
    }

    .close-button {
        display: none;
        margin: 0.5rem -0.5rem 0.5rem auto;
        border: none;

        &:hover {
            background-color: var(--color-button-default-hover-bg);
        }

        @media screen and (max-width: $break-small) {
            display: grid;
        }
    }
        
    .profile-avatar {
        height: 7rem;
        width: 7rem;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: var(--color-avatar-border) 0 0 0 2px;
    }

  
    .profile-site-title {
        margin: 0 -0.5rem;
        padding: 0.125rem 0.5rem;
        font-weight: 600;
        color: var(--color-fg-default);
    }
  
    .profile-site-description {
        color: var(--sidebar-muted-color);
        font-size: 0.8rem;
    }
  

    .profile-detail  {
        list-style-type: none;
        font-size: 0.8rem;

        svg, span, a:not(:hover) {
            color: var(--color-fg-muted);
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    .searchbar-wrapper {
        a {
            color: rgb(110, 119, 129);
            font-size: 0.875rem;
            line-height: 1.5rem;
        }

        svg {
            margin-right: 0.5rem;
        }
    }
  
    .side-nav-container {
        margin-bottom: 5rem;
        list-style-type: none;
    
        a {
            height: 2rem;
            margin: 0.2rem 0;
            padding: 0 0.75rem;

            color: var(--color-fg-default);
            border-radius: var(--borderRadius-medium);
            
            font-size: 0.85rem;
            letter-spacing: .2px;
            text-decoration: none;

            svg {
                margin-right: 0.6rem;
                color: var(--color-fg-muted);
            }

            .dots {
                margin: 0 0.5rem;
                flex: 1;
                border-top: 2px dotted var(--post-list-dash-color);
            }

            .counter {
                display: inline-block;
                padding: 0 0.375rem;

                background-color: var(--color-neutral-muted);
                border: var(--borderWidth-thin) solid var(--color-counter-border);
                border-radius: 2rem;

                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1.125rem;
            }

            &.subcategory {
                height: 1.5rem;
                padding-left: 2.75rem;
            }
        }

        li {
            margin-right: -1rem;
            padding-right: 1rem;
            border-right: 3px solid transparent;

            &.active {
                font-weight: 500;
                border-right: 3px solid rgb(253, 140, 115);
            }
        }
    }
}

.dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    
    background-color: var(--color-neutral-muted);
}