#sidebar {
    @media screen and (max-width: $break-large) {
        display: none;
    }

    flex: 1;

    overflow: hidden;

    padding: 3rem 0 4rem 3.5rem;

    user-select: none;

    >div {
        border-left: 1px solid var(--main-border-color);

        .sidebar-header {
            color: var(--label-color);
            font-weight: 600;
            letter-spacing: -0.2px;
        }

        &#recent-posts {
            margin-bottom: 4rem;
            padding-left: 1rem;

            ul {
                list-style: none;

                margin: 0.75rem 0 1.25rem 0.25rem;
                padding-left: 0;


                font-size: 0.9rem;
                line-height: 2.0;

                li {
                    margin-bottom: 0.75rem;
                    line-height: 1.5;

                    a:not(:hover) {
                        color: var(--text-muted-color);
                    }
                }
            }
        }

        &#trending-tags {
            padding-left: 1rem;

            .all-tags {
                margin: 0;
                justify-content: end;
                align-items: center;

                svg {
                    @include icon-size(0.85rem, var(--text-muted-color));
                    margin-right: 0.1rem;
                }

                a {
                    line-height: 1.5;
                    font-size: 0.85rem;

                    &:not(:hover) {
                        color: var(--text-muted-color);
                    }
                }
            }

            .trending-tags-item {
                margin: 1rem 1rem 0 0;

                a {
                    margin: 0 .35rem .5rem 0;
                    padding: .3rem .5rem;

                    color: var(--text-muted-color);
                    border: 1px solid var(--btn-border-color);
                    border-radius: 0.8rem;

                    line-height: 1.05rem;
                    font-size: 0.85rem;

                    user-select: none;

                    &:hover {
                        color: var(--common-link-hover-color);
                        background: var(--tag-hover);
                        transition: background .35s ease-in-out;
                    }
                }
            }
        }
    }
}