.Sidebar {
    @media screen and (max-width: $break-large) {
        display: none;
    }

    >div {
        border-left: 1px solid var(--color-border-default);
    }
}

.Sidebar--header {
    font-weight: 600;
    letter-spacing: -0.2px;
}

.Sidebar--recent-posts {
    font-size: 0.9rem;
    line-height: 1.5;
    list-style: none;
}

.Sidebar--tags {
    border-radius: 1rem;
    font-size: 0.85rem;
    line-height: 1rem;
}

.Sidebar--all-tags {
    font-size: 0.85rem;

    svg {
        height: 0.85rem;
        width: 0.85rem;
    }
}