#topbar-wrapper {
    width: 100%;
}

#topbar {
    height: 3rem;

    @media screen and (max-width: $break-small) {
        height: 3.5rem;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--topbar-bg);

    user-select: none;

    i {
        @include icon-size(1.25rem, #999);
    }

    a[href] {
        margin-left: auto;
    }

    a.small_view {
        display: none;

        @media screen and (max-width: $break-small) {
            display: block;
        }
    }

    a.large_view {
        display: flex;

        @media screen and (max-width: $break-small) {
            display: none;
        }

        padding: 0.25rem 0.75rem;
        align-items: center;

        overflow: hidden;
        white-space: nowrap;

        border-radius: 0.75rem;
        border: 1px solid var(--main-border-color);

        &:hover {
            background-color: var(--sidebar-hover-bg);
        }

        i {
            @include icon-size(1rem, var(--search-icon-color));
            margin-right: 0.5rem;
        }

        span {
            margin-right: 5rem;
            vertical-align: middle;
            color: gray;
        }
    }
}