#topbar-wrapper {
    width: 100%;
}

#topbar {
    height: 5rem;
    @extend %max_width;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--topbar-bg);

    i {
        height: 1.25rem;
        width: 1.25rem;
        background-color: #999;
        line-height: 1.0;
    }

    a[href] {
        margin-left: auto;
    }

    a.small_view {
        display: none;

        @media screen and (max-width: $break-small) {
            display: block;
        }
    }

    a.large_view {
        display: flex;

        @media screen and (max-width: $break-small) {
            display: none;
        }

        padding: 0.25rem 0.75rem;
        align-items: center;

        overflow: hidden;
        white-space: nowrap;

        border-radius: 0.75rem;
        border: 1px solid var(--main-border-color);

        &:hover {
            background-color: var(--sidebar-hover-bg);
        }

        i {
            margin-right: 0.5rem;

            height: 1rem;
            width: 1rem;

            background-color: var(--search-icon-color);
        }

        span {
            vertical-align: middle;

            margin-right: 5rem;

            color: gray;
        }
    }
}