#topbar-wrapper {
    width: 100%;
}

#topbar {
    height: 5rem;
    @extend %max_width;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--topbar-bg);

    a {
        display: inline;

        padding: 0.25rem 0.75rem;
        border-radius: 0.75rem;
        border: 1px solid var(--main-border-color);

        &:hover {
            background-color: var(--sidebar-hover-bg);
        }

        i {
            height: 1rem;
            width: 1rem;

            margin-right: 0.5rem;
            
            vertical-align: middle;

            background-color: var(--search-icon-color);
        }

        span {
            vertical-align: middle;

            margin-right: 5rem;

            color: gray;
        }
    }
}