#collection {
    .collection-items {
        padding: 0 1rem;

        li {
            display: flex;
            padding: 0.5rem 0;
            word-break: break-all;
            font-size: 1.125rem;
            list-style: none;

            svg {
                font-size: 0.65rem;
                fill: var(--color-fg-muted);
                margin: 0.5rem 0.5rem 0.5rem 0;
            }

            a {
                color: var(--color-accent-fg);

            }

            .dots {
                flex: 1;
                margin: 0.75rem 0.5rem 0;
                min-width: 0.5rem;
                border-top: 2px dotted var(--post-list-dash-color);
            }

            .date {
                font-size: 0.875rem;
                white-space: nowrap;
                color: var(--color-fg-muted);
            }
        }
    }

    .message {
        padding: 2rem 0;
        text-align: center;
    }
}
