html {
    @include light-scheme;
}

body {
    line-height: 1.5rem;
    color: var(--color-fg-default);
}

#navigation {
    position: fixed;
    left: 0px;
    z-index: 10;
    height: 100%;
    width: $nav-width;
    padding: 0 1rem;
    background-color: var(--color-canvas-inset);
    box-shadow: var(--color-nav-shadow) -1px 0px 0px 0px inset;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: left 0.25s ease-in-out;
    @include prevent-select;

    @media screen and (max-width: $break-small) {
        left: -$nav-width;
    }

    .nav-close-button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 3rem;
    }

    .toggle-button {
        height: 2rem;
        width: 2rem;
        margin-right: -0.5rem;
        padding: 0.5rem;
        color: var(--color-fg-muted);
        background-color: transparent;
        border-color: transparent;
        border-radius: var(--borderRadius-medium);
        border-style: solid;
        border-width: var(--borderWidth-thin);
        cursor: pointer;
        outline: none;
        visibility: hidden;

        @media screen and (max-width: $break-small) {
            visibility: visible;
        }

        svg {
            vertical-align: baseline;
        }

        &:hover {
            background-color: var(--color-button-default-hover-bg);
        }
    }

    section {
        background-color: var(--color-canvas-default);
        border-color: var(--color-border-default);
        border-radius: var(--borderRadius-large);
        border-style: solid;
        border-width: var(--borderWidth-thin);
        padding: 0 1rem;
    }

    #header-search {
        width: 100%;
        margin: 0.5rem 0;
        padding: 0;
        background-color: var(--color-canvas-default);
        border-color: var(--color-border-default);
        border-radius: var(--borderRadius-large);
        border-style: solid;
        border-width: var(--borderWidth-thin);
        
        form {
            display: flex;
            align-items: center;
            height: 2rem;
            padding: 0 0.75rem;
        }

        input {
            height: 2rem;
            width: 100%;
            font-size: 0.85rem;
            border: none;
            outline: none;
        }

        button {
            height: 1rem;
            width: 1rem;
            padding: 0;
            background-color: transparent;
            fill: var(--color-fg-muted);
            border: none;
            cursor: pointer;
        }

        svg {
            vertical-align: baseline;
            fill: var(--color-fg-muted);
        }

        svg:hover {
            fill: var(--color-accent-fg);
        }
    }

    .category-container {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
            padding: 0;
        }

        svg {
            height: 1rem;
            width: 1rem;
            margin-right: 0.5rem;
            color: var(--color-fg-muted);
        }
    }

    .profile-image {
        padding: 1rem 0;

        a {
            display: block;
            height: 7rem;
            width: 7rem;
            overflow: hidden;
            border-radius: var(--borderRadius-full);
            box-shadow: var(--color-border-default) 0 0 0 2px;
        }

        a:hover {
            text-decoration: none;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    .profile-description {
        a {
            display: flex;
            align-items: center;
            width: min-content;
            margin: 0 -0.5rem;
            padding: 0.125rem 0.5rem;
            font-weight: 600;
            color: var(--color-fg-default);
            border-radius: var(--borderRadius-medium);
        }

        a:hover {
            background-color: var(--control-transparent-bgColor-hover);
            cursor: pointer;
            text-decoration: none;
        }

        >span {
            color: var(--color-fg-muted);
            font-size: 0.8rem;
        }
    }

    .profile-contact {
        font-size: 0.8rem;
        padding: 1rem 0;
        color: var(--color-fg-muted);

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
        }

        svg {
            height: 1rem;
            width: 1rem;
            margin-right: 0.5rem;
            color: var(--color-fg-muted);
        }
    }

    .category-container {
        margin: 1rem 0 7rem;

        a {
            display: flex;
            align-items: center;
            height: 2rem;
            margin: 0.2rem 0;
            padding: 0 0.5rem;
            font-size: 0.85rem;
            color: var(--color-fg-default);
            border-radius: var(--borderRadius-medium);
        }

        a:hover,
        .active {
            background-color: var(--color-button-default-hover-bg);
            cursor: pointer;
            text-decoration: none;
        }

        .item {
            @include ellipse;
        }

        .subcategory {
            height: 1.5rem;
            padding-left: 2.5rem;
        }

        .dots {
            min-width: 0.5rem;
            margin: 0 0.5rem;
            flex: 1;
            border-top: 2px dotted var(--post-list-dash-color);
        }

        .counter {
            display: inline-block;
            padding: 0 0.375rem;
            background-color: var(--color-neutral-muted);
            border: var(--borderWidth-thin) solid var(--color-counter-border);
            border-radius: 2rem;
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 1.125rem;
        }
    }
}

#page-wrapper {
    @include flex-column-center;
    min-height: 100vh;
    padding: 0 1rem;
    margin-left: $nav-width;

    @media screen and (max-width: $break-small) {
        margin-left: 0;
    }
}

#main-wrapper {
    display: flex;
    flex: 1;
    max-width: $main-max-width;
    width: 92%;

    @media screen and (max-width: $break-large) {
        width: 88%;
    }

    @media screen and (max-width: $break-small) {
        width: 100%;
    }
}

main {
    flex: 3;
    min-width: 0;
    padding: 3rem 0.25rem;

    h1#title {
        display: flex;
        align-items: end;
        margin: 1rem 0 3rem;

        svg {
            margin-right: 1rem;
            font-size: 1.5rem;
            color: var(--color-fg-muted);
        }
        span {
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 400;
            color: var(--fgColor-default);
        }
        .metadata {
            align-self: end;
            margin-left: 0.75rem;
            font-size: 1.5rem;
            line-height: 1;
            color: var(--color-fg-muted);
        }
    }

    img {
        width: 100%;
    }
}

#topbar {
    display: none;
    width: 100%;

    @media screen and (max-width: $break-small) {
        display: block;
    }

    .topbar-open-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        margin: 0 -1rem;
        padding: 0 1.25rem;
        color: var(--color-fg-muted);
        background-color: var(--color-canvas-inset);
        box-shadow: var(--color-nav-shadow) 0px -1px 0px 0px inset;
        @include prevent-select;
    }

    .toggle-button {
        height: 2rem;
        width: 2rem;
        padding: 0.5rem;
        color: var(--color-fg-muted);
        background-color: transparent;
        border-color: var(--color-border-default);
        border-radius: var(--borderRadius-medium);
        border-style: solid;
        border-width: var(--borderWidth-thin);
        cursor: pointer;
        outline: none;

        svg {
            vertical-align: baseline;
        }

        &:hover {
            background-color: var(--color-button-default-hover-bg);
        }
    }
}

#sidebar {
    flex: 1;
    padding: 3rem 0 3rem 3.5rem;
    @include prevent-select;

    @media screen and (max-width: $break-large) {
        display: none;
    }

    .sidebar-section {
        margin-bottom: 3rem;
        padding-left: 1rem;
        border-left: 1px solid var(--color-border-default);
    }

    .sidebar-header {
        font-weight: 600;
        color: var(--color-fg-default);
    }

    .sidebar-recent-post-items {
        margin: 0.75rem 0 1.25rem 0.25rem;
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.5;
        list-style: none;
    }

    .sidebar-recent-post-item {
        margin-bottom: 0.75rem;
        color: var(--color-fg-muted);
        @include ellipse-two;
    }

    .sidebar-trending-tags {
        padding-left: 1rem;
    }

    .sidebar-trending-tags-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        padding: 0;
        list-style: none;
    }

    .sidebar-trending-tags-item {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.25rem 0.5rem;
        font-size: 0.85rem;
        line-height: 1rem;
        color: var(--color-fg-muted);
        background-color: var(--color-canvas-default);
        border-color: var(--color-border-default);
        border-radius: var(--borderRadius-large);
        border-style: solid;
        border-width: var(--borderWidth-thin);
    }

    .sidebar-trending-tags-item:hover {
        background-color: var(--color-button-default-hover-bg);
    }

    .sidebar-all-tags {
        display: flex;
        flex-direction: row-reverse;
        font-size: 0.85rem;
        color: var(--color-fg-muted);

        a {
            display: flex;
            align-items: center;
        }
    }
}

#dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: var(--color-neutral-muted);
}

footer {
    height: var(--footer-height);
    width: 100%;
    max-width: var(--main-max-width);
    border-top: 1px solid var(--color-border-default);
}

.footer-content {
    @include flex-center;

    height: 100%;
    color: var(--color-fg-muted);
    font-size: var(--footer-font-size);
    white-space: nowrap;

    a {
        @include flex-center;
        color: var(--color-fg-muted);
    }

    a:hover {
        color: var(--color-accent-fg);
    }
}
