html {
    @include light-scheme;
}

#navigation {
    position: fixed;
    left: 0px;
    height: 100%;
    width: var(--nav-width);
    background-color: var(--color-canvas-inset);
    box-shadow: var(--color-nav-shadow) -1px 0px 0px 0px inset;
}

#page-wrapper {
    @include flex-column-center;
    min-height: 100vh;
    margin-left: var(--nav-width);
    padding: 0 1rem;
}

#main-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: var(--main-max-width);
}

main {
    flex: 3;
    overflow: hidden;
}

#sidebar {
    flex: 1;
}

footer {
    height: var(--footer-height);
    width: 100%;
    max-width: var(--main-max-width);
    border-top: 1px solid var(--color-border-default);
}

.footer-content {
    @include flex-center;

    height: 100%;
    color: var(--color-fg-muted);
    font-size: var(--footer-font-size);
    white-space: nowrap;

    a {
        @include flex-center;
        color: var(--color-fg-muted);
        text-decoration: none;
    }

    a:hover {
        color: var(--color-accent-fg);
    }
}
