---
layout: default
--- 

{% assign posts = '' | split: '' %}
{% for post in site.posts %}
  {% if post.category[0] == page.name or post.subcategory[0] == page.name %}
    {% assign posts = posts | push: post %}
  {% endif %}
{% endfor %}
{% assign size = posts | size %}

<div id="category">
  <span>
    <i id="icon-folder"></i>
    <h1>{% include camelcase.html string = page.name %}</h1>
    <span>{{ size }} {% if size == 1 %}post{% else %}posts{% endif %}</span>
  </span>
</div>

{% include post-list.html posts = posts %}