<!DOCTYPE html>
<html lang="ko">

<head>
    {% include head.html %}
</head>

<body>
    {%- include navigation.html -%}
    
    <div class="dimmed h-100 w-100"></div>

    <div class="Main-wrapper flex-column flex-vertical-center py-0 px-3">
        <div class="flex-column flex-1 max_width">

            {%- include topbar.html -%}

            <div class="flex-row flex-1">
                
                <main class="w-100 my-5 py-0 px-1">
                    {{ content }}
                </main>

                {%- include sidebar.html -%}

            </div>

            {%- include footer.html -%}

        </div>
    </div>

    {% include scripts/navigation.html %}
    
</body>

</html>