<!DOCTYPE html>
<html lang="ko">

<head>
    {% include head.html %}
</head>

<body>
    {%- include navigation.html -%}
    
    <div id="dimmed"></div>

    <div id="main-wrapper">
        <div class="flex-column flex-1 max_width">
            <div id="topbar-wrapper">
                {% include topbar.html %}
            </div>

            <div class="flex-row flex-1">
                <main>
                    {{ content }}
                </main>
                
                {%- include sidebar.html -%}
            </div>

            {%- include footer.html -%}
        </div>
    </div>

    {% include scripts/navigation.html %}
    
</body>

</html>