---
layout: default
---

<div id="post">

    <div id="post-info">

        <span id="post-category">
                <a href="/categories/"><i class="file-directory"></i></a>
                <a href="/categories/{{ page.categories.first }}">{% include utils/capitalize.html string=page.categories.first %}</a>
                {%- if page.categories.size > 1 -%}
                    <em>/</em><a href="/categories/{{ page.categories.last }}">{% include utils/capitalize.html string=page.categories.last %}</a>
                {%- endif -%}
        </span>

        <h1 id="post-title">
            {{ page.title }}
        </h1>
    
        <div id="post-metadata">
            <span>
                By <em>{{ page.author | default: site.author.name }}</em>
            </span>
            <span>
                Posted <em>{{ page.date | date: "%b %e, %Y" }}</em>
            </span>
        </div>
    
    </div>

    <div id="post-content">
        {% include utils/content-refactor.html content=content %}
    </div>
    
    <div id="post-tail">
        {%- if page.tags -%}
        <div id="post-tags">
            <span>
                <i class="tag"></i>
                {%- for tag in page.tags -%}
                    <a href="/tags/{{ tag }}">{{ tag | downcase }}</a>
                    {%- unless forloop.last -%}
                        <span>, </span>
                    {%- endunless -%}
                {%- endfor -%}
            </span>
        </div>
        {%- endif -%}
        <div id="post-comment">
            {% include scripts/comment.html%}
        </div>
    </div>

</div>
