---
layout: default
---

{% if page.collection == 'category' %}
    {% assign posts = site.categories[page.slug] %}
{% else %}
    {% assign posts = site.tags[page.slug] %}
{% endif %}

<div class="post-list">
    <h1 class="title">
        <span>{{ page.emoji | default: "📁" | append: " " }}{{ page.title }}</span>
        <span>{{ posts | size }}</span>
      </h1>

    <ul>
        {% for post in posts %}
            <li>
                <i class="dot-fill"></i>
                <a href="{{ post.url }}" class="hover-underline">{{ post.title }}</a>
                <span class="dash"></span>
                <span>{{ post.date | date: "%b %e, %Y" }}</span>
            </li>
        {% endfor %}
    </ul>
</div>