---
layout: default
---

<div id="post">

    <div id="post-info">

        <div id="post-category">
            <span>
                {% assign category = page.category[0] %}
                {% assign subcategory = page.subcategory[0] %} 
                {%- if category -%}
                    <i id="icon-folder"></i><a href="/categories/{{ category }}">{% include camelcase.html string = category %}</a>
                    {%- if subcategory -%}
                        <em>/</em><a href="/categories/{{ subcategory }}">{% include camelcase.html string = subcategory %}</a>
                    {%- endif -%}
                {%- endif -%}
            </span>
        </div>

        <h1 id="post-title">
            {{ page.title }}
        </h1>
    
        <div id="post-metadata">
            <span>
                By <em>{{ page.author | default: site.author.name }}</em>
            </span>
            <span>
                Posted <em>{{ page.date | date: "%b %e, %Y" }}</em>
            </span>
        </div>
    
    </div>

    <div id="post-content">
        {% include refactor-content.html content=content %}
    </div>
    
    <div id="post-tail">
        {%- if page.tags -%}
        <div id="post-tags">
            <span>
                <i id="icon-tag"></i>
                {%- for tag in page.tags -%}
                    <a href="{{ "/tags/" | append: tag }}">{{ tag | downcase }}</a>
                    {%- unless forloop.last -%}
                        <span>, </span>
                    {%- endunless -%}
                {%- endfor -%}
            </span>
        </div>
        {%- endif -%}
    </div>

</div>
