---
layout: default
--- 

{% assign subcategory = page.name %}
{% assign posts = site.posts | where_exp: 'post', "post.subcategory contains subcategory" %}
{% assign size = posts | size %}
{% assign category = posts[0].category[0] | append: "_/_" | append: subcategory %}

<div id="category">
  <span>
    <i id="icon-folder"></i>
    <h1>{% include utils/camelcase.html string = category %}</h1>
    <span>{{ size }} {% if size == 1 %}post{% else %}posts{% endif %}</span>
  </span>
</div>

{% include post-list.html posts = posts %}