// categories
// category

#categories {
    ul {
        border: 1px solid rgba(0, 0, 0, .125);
        box-shadow: 0 0 3px 0 var(--tag-shadow);
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, .03);
        background-clip: border-box;

        width: 100%;
        padding: 0;
        list-style-type : none;

        li {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            padding: 0.75rem 1rem;

            font-size: 80%;
            font-weight: 300;
            color: #6c757d;

            &:not(:first-child) {
                border-top: 1px solid rgba(0, 0, 0, .125);
            }
            
            * {
                vertical-align: middle;
            }

            &.subcategory {
                background-color: #fff;
                padding-left: 3rem;
            }
            i#folder-tag {
                margin-right: 0.25rem;
                width: 1.125rem;
                height: 1.125rem;
                content: map-get($icon-svg, --folder-icon-svg);
            }
            i#triangle-right-tag {
                margin-right: 0.25rem;
                width: 1.125rem;
                height: 1.125rem;
                content: map-get($icon-svg, --triangle-right-icon-svg);
            }
            a {
                font-size: 1.08rem;
                color: var(--link-color);
                text-decoration: none;
                background-color: transparent;

                margin-left: 0.25rem;
                margin-right: 0.5rem;
                
                &:hover {
                    text-decoration: underline;
                    text-underline-offset : 3px;
                    text-decoration-thickness: 1px;
                    color: #d2603a;
                }
            }
        }
    }
}

#category {
    display: flex;
    flex-direction: column;
    span {
        display: inline;
        width: 100%;
        margin: 2rem 0;

        * {
            vertical-align: middle;
        }
        i#icon-folder {
            margin-right: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            content: map-get($icon-svg, --folder-icon-svg);
        }
        h1 {
            display: inline;
            margin: 2rem 0;
        }
        span {
            padding-left: 0.5rem;
            vertical-align: sub;
            font-size: 1.25rem;
            font-weight: 300;
            line-height: 1rem;
            color: #6c757d;
        }
    }
}