// categories
// category

#categories {
    ul {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, .125);
        box-shadow: 0 0 3px 0 var(--tag-shadow);
        border-radius: 0.25rem;
        background-color: #fff;
        background-clip: border-box;

        width: 100%;
        padding: 0;
        list-style-type : none;

        li {
            display: block;
            padding: 0.75rem 1.25rem;

            &:not(:first-child) {
                border-top: 1px solid rgba(0, 0, 0, .125);
            }
            i#folder-tag {
                margin-right: 0.25rem;
                width: 1.125rem;
                height: 1.125rem;
                vertical-align: middle;
                content: map-get($icon-svg, --folder-icon-svg);
            }
            a {
                font-size: 1.08rem;
                color: var(--link-color);
                text-decoration: none;
                background-color: transparent;

                margin-left: 0.25rem;
                margin-right: 0.5rem;
                
                &:hover {
                    text-decoration: underline;
                    text-underline-offset : 3px;
                    text-decoration-thickness: 1px;
                    color: #d2603a;
                }
            }
            span {
                font-size: 80%;
                font-weight: 300;
                color: #6c757d;
            }
        }
    }
}

#category {
    h1 {
        i#folder-tag {
            margin-right: 0.25rem;
            width: 1.5rem;
            height: 1.5rem;
            vertical-align: bottom;
            content: map-get($icon-svg, --folder-icon-svg);
        }
        span {
            padding-left: 0.5rem;
            font-size: 1.25rem;
            font-weight: 300;
            line-height: 1rem;
            color: #6c757d;
        }
    }
}