.Main-wrapper {
    min-height: 100vh;
    margin-left: $nav-width;
    
    @media screen and (max-width: $break-small) {
        margin-left: 0px;
    }
}

main {
    flex: 3;
    overflow: hidden;

    @media screen and (max-width: $break-small) {
        margin-top: 2rem;
    }
}