nav {
  overflow: auto;
  padding: 24px 0;
  line-height: 2rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 40px 0 0;
    font-size: 1.125rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.5;
    }

    @media (max-width: $break-small) {
      margin: 0 24px 0 0;
      font-size: 1rem;
    }

    a {
      text-decoration: none;
      color: var(--nav-cursor-color);

      &.active {
        padding-bottom: 6px;
        border-bottom: 2px solid var(--nav-cursor-color);
        color: var(--sidebar-active-color);
      }
    }
  }
}