.post-list {

    h1.title {
        font-size: 2rem;
        margin: 3rem 0 2rem;
        text-align-last: right;

        &,
        * {
            display: inline-block;
            line-height: 1.75rem;
            font-size: 1.75rem;

            @media (max-width: $break-small) {
                line-height: 1.5rem;
                font-size: 1.5rem;
            }
        }


        i {
            height: 1.75rem;
            width: 1.75rem;
            margin-right: 0.5rem;
            background-color: var(--post-list-meta-color);
            vertical-align: bottom;

            @media (max-width: $break-small) {
                height: 1.5rem;
                width: 1.5rem;
            }
        }

        span {
            color: var(--post-list-title-color);
        }

        span {
            white-space: nowrap;

            &:last-child {
                padding-top: 0.5rem;
                padding-left: 0.5rem;

                color: var(--post-list-meta-color);
                font-size: 1rem;

                @media (max-width: $break-small) {
                    font-size: 0.875rem;
                }
            }
        }
    }

    ul {
        margin: 0 0 2rem;
        padding: 0 1rem;
        list-style: none;

        li {
            display: flex;
            padding: 0.6rem 0;
            line-height: 1.5rem;

            i {
                flex: 0 0 0.65rem;
                height: 0.65rem;
                width: 0.65rem;
                margin: 0.425rem 0.5rem 0.425rem 0;
                line-height: 1.5rem;
                background-color: var(--post-list-dot-color);
            }

            a {
                word-break: break-all;
                font-size: 1.125rem;

                @media (max-width: $break-small) {
                    font-size: 1rem;
                }
            }

            span.dash {
                flex-grow: 1;
                margin: 0.75rem 0.5rem 0;
                min-width: 0.5rem;
                border-top: 2px dotted var(--post-list-dash-color);
            }

            span {
                white-space: nowrap;
                color: var(--post-list-meta-color);
                font-size: 0.875rem;

                @media (max-width: $break-small) {
                    font-size: 0.75rem;
                }
            }
        }
    }
}