.post {
  .post-info {
    padding: 0.5rem;
    border-bottom: 1px solid var(--common-border-color);

    .post-category {
      @include valign-ilink(1.08rem, 0.75rem);
      font-size: 0.85rem;

      i {
        margin-right: 0.25rem;
      }

      em {
        margin: 0 0.125rem;
        font-weight: 600;
        font-style: normal;
      }
    }

    h1.post-title {
      margin: 0.5rem 0 1.5rem;

      color: var(--post-title-color);
      font-weight: 500;
      line-height: 1.2;
      word-break: keep-all;
    }

    .post-metadata {
      font-size: 0.85rem;
      word-spacing: 1px;
      color: #6c757d;

      em {
        font-style: normal;
        color: var(--post-meta-color);
      }

      span {
        white-space: nowrap;

        &:not(:first-child)::before {
          content: "\2022";
          padding-left: 0.25rem;
          padding-right: 0.25rem;
        }
      }
    }
  }

  .post-content {
    margin-top: 2rem;

    line-height: 1.8;
    word-wrap: break-word;

    a {
      color: var(--common-link-color);
      border-bottom: 1px solid var(--post-link-underline-color);

      &:hover {
        color: var(--post-link-hover-color);
      }
    }

    ul {
      .task-list-item {
        list-style-type: none;

        input[type="checkbox"] {
          appearance: none;

          margin: 0 0.4rem 0.2rem -1.4rem;
          background: white no-repeat center center;
          background-image: map-get($icon-svg, --checkbox-icon-svg);

          width: 1.25em;
          height: 1.25em;
          vertical-align: middle;

          &[checked="checked"] {
            background-image: map-get($icon-svg, --checkbox-checked-icon-svg);
          }
        }
      }
    }

    /* ul */

    >ol,
    >ul {
      padding-left: 2rem;

      li {

        ol,
        ul {
          /* sub list */
          padding-left: 2rem;
          margin: 0.3rem 0;
        }
      }

    }

    >ol {
      li {
        padding-left: 0.25em;
      }
    }

    dl>dd {
      margin-left: 1rem;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    img {
      max-width: 100%;
      height: auto;

      margin: 0.5rem 0;
      padding: 0 7%;

      @media (max-width: $break-small) {
        padding: 0;
      }
    }

    blockquote {
      border-left: 5px solid var(--blockquote-border-color);
      color: var(--blockquote-text-color);

      margin: 0 0 1rem 0;
      padding-left: 1rem;
      
      &[class^="prompt-"] {
        display: flex;
        align-items: center;
        padding: 0.75rem 1.2rem;

        color: var(--prompt-text-color);

        border-left: 0;
        border-radius: 6px;

        @media all and (max-width: 576px) {
          margin-left: -7%;
          margin-right: -7%;
          border-radius: 0;
        }

        &::before {
          text-align: center;
          height: 1.5rem;
          width: 1rem;
          min-width: 1rem;

          margin-right: 1rem;
        }

        p:last-child {
          margin-bottom: 0rem;
        }
      }

      @include prompt("tip", "\f0eb");
      @include prompt("info", "\f06a");
      @include prompt("warning", "\f06a");
      @include prompt("danger", "\f071");
    }

    /* --- Begin of Markdown table style --- */

    /* it will be created by Liquid */
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    table:not(.rouge-table) {
      display: block;
      overflow-x: auto;
      width: 100%;
      margin-bottom: 1.5rem;

      thead {
        border-bottom: solid 2px rgba(210, 215, 217, 0.75);

        th {
          padding: 0.4rem 1rem;
          font-size: 95%;
          white-space: nowrap;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid var(--tb-border-color);

          &:nth-child(2n) {
            background-color: var(--tb-even-bg);
          }

          &:nth-child(2n + 1) {
            background-color: var(--tb-odd-bg);
          }

          td {
            padding: 0.4rem 1rem;
            font-size: 95%;
            white-space: nowrap;
          }
        }
      }

      /* tbody */
    }

    /* table */

    .footnotes>ol {
      padding-left: 2rem;
      margin-top: 0.5rem;

      >li {
        &:not(:last-child) {
          margin-bottom: 0.3rem;
        }

        >p {
          margin-left: 0.25em;
          margin-top: 0;
          margin-bottom: 0;
        }

        /* [scroll-focus] added by `smooth-scroll.js` */
        &:target:not([scroll-focus]),
        &[scroll-focus=true]>p {
          background-color: var(--footnote-target-bg);
          width: fit-content;
          -webkit-transition: background-color 1.5s ease-in-out;
          /* Safari prior 6.1 */
          transition: background-color 1.5s ease-in-out;
        }
      }
    }

    .footnote {
      @at-root a#{&} {
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 2px;
        padding-right: 2px;

        border-bottom-style: none !important;
        -webkit-transition: background-color 1.5s ease-in-out;
        /* Safari prior 6.1 */
        transition: background-color 1.5s ease-in-out;
      }

      /* [scroll-focus] added by `smooth-scroll.js` */
      @at-root sup:target:not([scroll-focus]),
      sup[scroll-focus=true]>a#{&} {
        background-color: var(--footnote-target-bg);
      }
    }

    #reverse-footnote {
      line-height: 1.2;
    }
  }

  // post-tail
  #post-tail {
    #post-tags {
      display: inline-flex;
      margin: 2rem 0 1rem;
      
      font-size: 0.85rem;
      word-spacing: 1px;


      span {
        display: inline;
        width: 100%;

        * {
          vertical-align: middle;
        }

        i {
          margin-right: 0.5rem;
          width: 1rem;
          height: 1rem;

          &#icon-tag {
            content: map-get($icon-svg, --tag-icon-svg);
          }
        }

        a {
          padding: 0 0.4rem;

          line-height: 1.3rem;

          color: #6c757d;
          background: var(--tag-bg);
          border-radius: 0.3rem;
          
        }
      }
    }
  }
}