.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
}

@import "style/rouge-highlighter";

html {
    @include light-syntax;
}

div.highlight {
  
    .highlight,
    .rouge-gutter,
    .rouge-code {
        padding: 0;
    }
  
    .highlight {
        pre,
        tr,
        td {
            font-size: 0.85rem;
            background-color: transparent;
            border: none;
        }
    
        .rouge-table {
            margin-bottom: 0;
        }
    
        .rouge-gutter {
            color: var(--text-muted-color);
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }
}

.Post-info {
    border-bottom: 1px solid var(--color-border-default);
}

.Post-info-category {
    line-height: 0.85rem;
    font-size: 0.85rem;

    svg {
        @include icon-size(0.85rem, var(--color-fg-muted));
    }
}

.Post-info-title {
    color: var(--post-title-color);
    font-size: 2rem;
    line-height: 1.2;
    word-break: keep-all;
}

.Post-info-metadata {
    color: #6c757d;
    font-size: 0.85rem;
    word-spacing: 1px;
    
    em {
        font-style: normal;
        color: var(--post-meta-color);
    }

    span {
        white-space: nowrap;

        &:not(:first-child)::before {
            content: "\2022";
            padding: 0 0.25rem;
        }
    }
}

.Post-tags {
    font-size: 0.85rem;
    line-height: 1.125rem;
    word-spacing: 1px;

    svg {
        @include icon-size(1rem, var(--post-tag-color));
        margin-right: 0.5rem;
    }
}

.Post-tags--items {
    padding: 0.1rem 0.4rem;
    color: #6c757d;
    background: var(--post-tag-bg);
    border-radius: 0.3rem;
}

.utterances {
    max-width: 100%;
}